<h2>These are your interests <span class="member-name"></span></h2>


<ul>
  {{#each allChosen}}
  	<li id="{{InterestId}}">
          <a href="/">{{interestName}}</a>
  	</li>
    <br>
  {{/each}}
</ul>

<div class="container">
  <h2>Send SMS Message</h2>
  <input type="tel" name="number" id="number" placeholder="Enter Phone NUmber...">
  <input type="text" name="msg" id="msg" placeholder="Enter Text Message...">
  <input type="button" id="button" value="Send Text" class="button button-primary">
  <p class="response"></p>
  </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">


