form.signup,
form.login {
  margin-top: 15px;
}

body {
  background-image: url('silhouette.jpg');
  background-size: 100%;
}

.text-6xl {
  margin-bottom: 30px;
}

/* .text-6xl {
  font-family: 'Pacifico';
} */

@tailwind base;

@tailwind components;

@tailwind utilities;